.ticket {
    width: 600px;
    height: 220px;
    background-color: white;
    margin-bottom: 25px;
    padding: 20px;
    padding-right:40px ;
    .ticket__title {
        display: flex;       
        justify-content: space-between;
        .price {
            font-weight: bold;
            color: #00bfff;
            font-size: 19px;
        }
    }
   
}